<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All friends
    </h1>

    <a href="/friends/new" class="btn btn-block btn-outline-secondary">
      Add a new friend
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Address
        </th>

        <th>
          Email
        </th>

        <th>
          Phone
        </th>

        <th>
          Image
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @friends.each do |friend| %>
      <tr>
        <!-- Display friend.id start -->
        <td>
          <%= friend.id %>
        </td>
        <!-- Display friend.id end -->

        <!-- Display friend.first_name start -->
        <td>
          <%= friend.first_name %>
        </td>
        <!-- Display friend.first_name end -->

        <!-- Display friend.last_name start -->
        <td>
          <%= friend.last_name %>
        </td>
        <!-- Display friend.last_name end -->

        <!-- Display friend.address start -->
        <td>
          <%= friend.address %>
        </td>
        <!-- Display friend.address end -->

        <!-- Display friend.email start -->
        <td>
          <%= friend.email %>
        </td>
        <!-- Display friend.email end -->

        <!-- Display friend.phone start -->
        <td>
          <%= friend.phone %>
        </td>
        <!-- Display friend.phone end -->

        <!-- Display friend.image start -->
        <td>
          <%= friend.image %>
        </td>
        <!-- Display friend.image end -->

        <!-- Display friend.user_id start -->
        <td>
          <%= friend.user_id %>
        </td>
        <!-- Display friend.user_id end -->

        <!-- Display friend.created_at start -->
        <td>
          <%= time_ago_in_words(friend.created_at) %> ago
        </td>
        <!-- Display friend.created_at end -->

        <!-- Display friend.updated_at start -->
        <td>
          <%= time_ago_in_words(friend.updated_at) %> ago
        </td>
        <!-- Display friend.updated_at end -->

        <td>
          <a href="/friends/<%= friend.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
