<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Friend #<%= @friend.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/friends" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @friend.user %>
          <a href="/friends/<%= @friend.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit friend
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @friend.user %>
          <a href="/delete_friend/<%= @friend.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete friend
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        First name
      </dt>
      <dd>
        <%= @friend.first_name %>
      </dd>

      <dt>
        Last name
      </dt>
      <dd>
        <%= @friend.last_name %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <div>
          <%= render partial: "friend_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @friend.email %>
      </dd>

      <dt>
        Phone
      </dt>
      <dd>
        <%= @friend.phone %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @friend.image %>" class="img-fluid">
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @friend.user.present? %>
          <a href="/users/<%= @friend.user_id %>">
            <%= @friend.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@friend.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@friend.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "friend_templates/friend_connections" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "friend_templates/friend_made_connections" %>
  </div>
</div>
