<% if @guest.errors.any? %>
  <% @guest.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit guest #<%= @guest.id %>
</h1>

<hr>

<form action="/update_guest/<%= @guest.id %>" method="post">

  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <input type="text" id="first_name" name="first_name" class="form-control" value="<%= @guest.first_name %>">
  </div>

  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <input type="text" id="last_name" name="last_name" class="form-control" value="<%= @guest.last_name %>">
  </div>

  <div class="form-group">
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" class="form-control" value="<%= @guest.address %>">
  </div>

  <div class="form-group">
    <label for="email">
      Email
    </label>

    <input type="text" id="email" name="email" class="form-control" value="<%= @guest.email %>">
  </div>

  <div class="form-group">
    <label for="phone">
      Phone
    </label>

    <input type="text" id="phone" name="phone" class="form-control" value="<%= @guest.phone %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update guest
  </button>
</form>

<hr>

<a href="/guests">
  Go back
</a>
