<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Guest #<%= @guest.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/guests" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link guest start -->
      <div class="col">
        <% if current_user == @guest.user %>
          <a href="/guests/<%= @guest.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit guest
          </a>
        <% end %>
      </div>
      <!-- Edit link guest end -->

      <!-- Delete link guest start -->
      <div class="col">
        <% if current_user == @guest.user %>
          <a href="/delete_guest/<%= @guest.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete guest
          </a>
        <% end %>
      </div>
      <!-- Delete link guest end -->
    </div>

    <dl>
      <dt>
        First name
      </dt>
      <!-- Display first_name start -->
      <dd>
        <%= @guest.first_name %>
      </dd>
      <!-- Display first_name end -->

      <dt>
        Last name
      </dt>
      <!-- Display last_name start -->
      <dd>
        <%= @guest.last_name %>
      </dd>
      <!-- Display last_name end -->

      <dt>
        Address
      </dt>
      <!-- Display address start -->
      <dd>
        <%= @guest.address %>
      </dd>
      <!-- Display address end -->

      <dt>
        Email
      </dt>
      <!-- Display email start -->
      <dd>
        <%= @guest.email %>
      </dd>
      <!-- Display email end -->

      <dt>
        Phone
      </dt>
      <!-- Display phone start -->
      <dd>
        <%= @guest.phone %>
      </dd>
      <!-- Display phone end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @guest.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@guest.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@guest.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "guest_templates/guest_speakers" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "guest_templates/guest_roles" %>
  </div>
</div>
<!-- Show Page Customization end -->
