<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Guest #<%= @guest.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/guests" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @guest.user %>
          <a href="/guests/<%= @guest.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit guest
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @guest.user %>
          <a href="/delete_guest/<%= @guest.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete guest
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        First name
      </dt>
      <dd>
        <%= @guest.first_name %>
      </dd>

      <dt>
        Last name
      </dt>
      <dd>
        <%= @guest.last_name %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <div>
          <%= render partial: "guest_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @guest.email %>
      </dd>

      <dt>
        Phone
      </dt>
      <dd>
        <%= @guest.phone %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @guest.user.present? %>
          <a href="/users/<%= @guest.user_id %>">
            <%= @guest.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@guest.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@guest.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "guest_templates/guest_speakers" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "guest_templates/guest_roles" %>
  </div>
</div>
