<% if @speaker.errors.any? %>
  <% @speaker.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit speaker #<%= @speaker.id %>
</h1>

<hr>

<form action="/update_speaker/<%= @speaker.id %>" method="post">

  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <input type="text" id="rank" name="rank" class="form-control" value="<%= @speaker.rank %>">
  </div>

  <div class="form-group">
    <label for="guest_id">
      Guest
    </label>

    <%= select_tag(:guest_id, options_from_collection_for_select(Guest.all, :id, :first_name, @speaker.guest_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="position">
      Position
    </label>

    <input type="text" id="position" name="position" class="form-control" value="<%= @speaker.position %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @speaker.description %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update speaker
  </button>
</form>

<hr>

<a href="/speakers">
  Go back
</a>
