<% if @gift.present? %>
  <% if @gift.errors.any? %>
    <% @gift.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new gift
</h1>


<hr>

<form action="/create_gift" method="post">

  <div class="form-group">
    <label for="receipient">
      Receipient
    </label>

    <input type="text" id="receipient" name="receipient" class="form-control" value="<%= @gift.receipient %>">
  </div>

  <div class="form-group">
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" class="form-control" value="<%= @gift.address %>">
  </div>

  <div class="form-group">
    <label for="email">
      Email
    </label>

    <input type="text" id="email" name="email" class="form-control" value="<%= @gift.email %>">
  </div>

  <div class="form-group">
    <label for="kind">
      Kind
    </label>

    <input type="text" id="kind" name="kind" class="form-control" value="<%= @gift.kind %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create gift
  </button>
</form>

<hr>

<a href="/gifts">
  Go back
</a>
