<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Message #<%= @message.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/messages" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @message.user %>
          <a href="/messages/<%= @message.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit message
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @message.user %>
          <a href="/delete_message/<%= @message.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete message
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @message.description %>
      </dd>

      <dt>
        Receipient
      </dt>
      <dd>
        <%= @message.receipient %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <div>
          <%= render partial: "message_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @message.email %>
      </dd>

      <dt>
        Phone
      </dt>
      <dd>
        <%= @message.phone %>
      </dd>

      <dt>
        Content
      </dt>
      <dd>
        <%= @message.content %>
      </dd>

      <dt>
        Audio
      </dt>
      <dd>
        <%= @message.audio %>
      </dd>

      <dt>
        Video
      </dt>
      <dd>
        <%= @message.video %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @message.user.present? %>
          <a href="/users/<%= @message.user_id %>">
            <%= @message.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Photo
      </dt>
      <dd>
        <img src="<%= @message.photo %>" class="img-fluid">
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@message.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@message.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

