<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Message #<%= @message.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/messages" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link message start -->
      <div class="col">
        <a href="/messages/<%= @message.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit message
        </a>
      </div>
      <!-- Edit link message end -->

      <!-- Delete link message start -->
      <div class="col">
        <a href="/delete_message/<%= @message.id %>" class="btn btn-block btn-outline-secondary">
          Delete message
        </a>
      </div>
      <!-- Delete link message end -->
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <!-- Display description start -->
      <dd>
        <%= @message.description %>
      </dd>
      <!-- Display description end -->

      <dt>
        Receipient
      </dt>
      <!-- Display receipient start -->
      <dd>
        <%= @message.receipient %>
      </dd>
      <!-- Display receipient end -->

      <dt>
        Address
      </dt>
      <!-- Display address start -->
      <dd>
        <%= @message.address %>
      </dd>
      <!-- Display address end -->

      <dt>
        Email
      </dt>
      <!-- Display email start -->
      <dd>
        <%= @message.email %>
      </dd>
      <!-- Display email end -->

      <dt>
        Phone
      </dt>
      <!-- Display phone start -->
      <dd>
        <%= @message.phone %>
      </dd>
      <!-- Display phone end -->

      <dt>
        Content
      </dt>
      <!-- Display content start -->
      <dd>
        <%= @message.content %>
      </dd>
      <!-- Display content end -->

      <dt>
        Audio
      </dt>
      <!-- Display audio start -->
      <dd>
        <%= @message.audio %>
      </dd>
      <!-- Display audio end -->

      <dt>
        Video
      </dt>
      <!-- Display video start -->
      <dd>
        <%= @message.video %>
      </dd>
      <!-- Display video end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @message.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Photo
      </dt>
      <!-- Display photo start -->
      <dd>
        <%= @message.photo %>
      </dd>
      <!-- Display photo end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@message.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@message.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
