<form action="/create_service_from_venue" method="post">

  <input type="hidden" name="venue_id" value="<%= @venue.id %>">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="theme_id">
      Theme
    </label>

    <%= select_tag(:theme_id, options_from_collection_for_select(Theme.all, :id, :rank, @service.theme_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <input type="text" id="rank" name="rank" class="form-control" value="<%= @service.rank %>">
  </div>

  <div class="form-group">
    <label for="casket">
      Casket
    </label>

    <input type="text" id="casket" name="casket" class="form-control" value="<%= @service.casket %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create service
  </button>
</form>
