<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Theme #<%= @theme.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/themes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/themes/<%= @theme.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit theme
        </a>
      </div>

      <div class="col">
        <a href="/delete_theme/<%= @theme.id %>" class="btn btn-block btn-outline-secondary">
          Delete theme
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Rank
      </dt>
      <dd>
        <%= @theme.rank %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@theme.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@theme.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "theme_templates/theme_services" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "theme_templates/theme_users" %>
  </div>
</div>
