<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Role #<%= @role.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/roles" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/roles/<%= @role.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit role
        </a>
      </div>

      <div class="col">
        <a href="/delete_role/<%= @role.id %>" class="btn btn-block btn-outline-secondary">
          Delete role
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Kind
      </dt>
      <dd>
        <%= @role.kind %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @role.description %>
      </dd>

      <dt>
        Rank
      </dt>
      <dd>
        <%= @role.rank %>
      </dd>

      <dt>
        Guest
      </dt>
      <dd>
        <% if @role.guest.present? %>
          <a href="/guests/<%= @role.guest_id %>">
            <%= @role.guest.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@role.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@role.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

