<h1>
  Edit obituary #<%= @obituary.id %>
</h1>

<hr>

<form action="/update_obituary/<%= @obituary.id %>" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @obituary.description %>">
  </div>

  <div class="form-group">
    <label for="outlet">
      Outlet
    </label>

    <input type="text" id="outlet" name="outlet" class="form-control" value="<%= @obituary.outlet %>">
  </div>


  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <input type="text" id="rank" name="rank" class="form-control" value="<%= @obituary.rank %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update obituary
  </button>
</form>

<hr>

<a href="/obituaries">
  Go back
</a>
