<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All obituaries
    </h1>

    <a href="/obituaries/new" class="btn btn-block btn-outline-secondary">
      Add a new obituary
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "obituary_templates/obituaries_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Outlet
        </th>

        <th>
          User
        </th>

        <th>
          Rank
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @obituaries.each do |obituary| %>
      <tr>
        <td>
          <%= obituary.id %>
        </td>

        <td>
          <%= obituary.description %>
        </td>

        <td>
          <%= obituary.outlet %>
        </td>

        <td>
          <% if obituary.user.present? %>
            <a href="/users/<%= obituary.user.id %>">
              <%= obituary.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= obituary.rank %>
        </td>

        <td>
          <%= time_ago_in_words(obituary.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(obituary.updated_at) %> ago
        </td>

        <td>
          <a href="/obituaries/<%= obituary.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @obituaries, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
