<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Obituary #<%= @obituary.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/obituaries" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @obituary.user %>
          <a href="/obituaries/<%= @obituary.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit obituary
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @obituary.user %>
          <a href="/delete_obituary/<%= @obituary.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete obituary
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @obituary.description %>
      </dd>

      <dt>
        Outlet
      </dt>
      <dd>
        <%= @obituary.outlet %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @obituary.user.present? %>
          <a href="/users/<%= @obituary.user_id %>">
            <%= @obituary.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Rank
      </dt>
      <dd>
        <%= @obituary.rank %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@obituary.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@obituary.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

