<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Executioner #<%= @executioner.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/executioners" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @executioner.user %>
          <a href="/executioners/<%= @executioner.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit executioner
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @executioner.user %>
          <a href="/delete_executioner/<%= @executioner.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete executioner
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Last name
      </dt>
      <dd>
        <%= @executioner.last_name %>
      </dd>

      <dt>
        First name
      </dt>
      <dd>
        <%= @executioner.first_name %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <div>
          <%= render partial: "executioner_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @executioner.email %>
      </dd>

      <dt>
        Phone
      </dt>
      <dd>
        <%= @executioner.phone %>
      </dd>

      <dt>
        Instruction
      </dt>
      <dd>
        <%= @executioner.instruction %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @executioner.user.present? %>
          <a href="/users/<%= @executioner.user_id %>">
            <%= @executioner.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@executioner.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@executioner.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

