<h1>
  Edit video #<%= @video.id %>
</h1>

<hr>

<form action="/update_video/<%= @video.id %>" method="post">

  <div class="form-group">
    <label for="upload">
      Upload
    </label>

    <input type="text" id="upload" name="upload" class="form-control" value="<%= @video.upload %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @video.description %>">
  </div>

  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <input type="text" id="caption" name="caption" class="form-control" value="<%= @video.caption %>">
  </div>

  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <input type="text" id="rank" name="rank" class="form-control" value="<%= @video.rank %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update video
  </button>
</form>

<hr>

<a href="/videos">
  Go back
</a>
