<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All videos
    </h1>

    <a href="/videos/new" class="btn btn-block btn-outline-secondary">
      Add a new video
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "video_templates/videos_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Upload
        </th>

        <th>
          Description
        </th>

        <th>
          Caption
        </th>

        <th>
          Rank
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @videos.each do |video| %>
      <tr>
        <td>
          <%= video.id %>
        </td>

        <td>
          <%= video.upload %>
        </td>

        <td>
          <%= video.description %>
        </td>

        <td>
          <%= video.caption %>
        </td>

        <td>
          <%= video.rank %>
        </td>

        <td>
          <% if video.user.present? %>
            <a href="/users/<%= video.user.id %>">
              <%= video.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(video.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(video.updated_at) %> ago
        </td>

        <td>
          <a href="/videos/<%= video.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @videos, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
