<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All discretions
    </h1>

    <a href="/discretions/new" class="btn btn-block btn-outline-secondary">
      Add a new discretion
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "discretion_templates/discretions_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Description
        </th>

        <th>
          Instruction
        </th>

        <th>
          User
        </th>

        <th>
          Apppointee
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @discretions.each do |discretion| %>
      <tr>
        <td>
          <%= discretion.id %>
        </td>

        <td>
          <%= discretion.title %>
        </td>

        <td>
          <%= discretion.description %>
        </td>

        <td>
          <%= discretion.instruction %>
        </td>

        <td>
          <% if discretion.user.present? %>
            <a href="/users/<%= discretion.user.id %>">
              <%= discretion.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <% if discretion.apppointee.present? %>
            <a href="/appointees/<%= discretion.apppointee.id %>">
              <%= discretion.apppointee.last_name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(discretion.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(discretion.updated_at) %> ago
        </td>

        <td>
          <a href="/discretions/<%= discretion.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @discretions, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
