<% if @discretion.present? %>
  <% if @discretion.errors.any? %>
    <% @discretion.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new discretion
</h1>


<hr>

<form action="/create_discretion" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @discretion.title %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @discretion.description %>">
  </div>

  <div class="form-group">
    <label for="instruction">
      Instruction
    </label>

    <input type="text" id="instruction" name="instruction" class="form-control" value="<%= @discretion.instruction %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="apppointee_id">
      Apppointee
    </label>

    <%= select_tag(:apppointee_id, options_from_collection_for_select(Appointee.all, :id, :last_name, @discretion.apppointee_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create discretion
  </button>
</form>

<hr>

<a href="/discretions">
  Go back
</a>
