<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Discretion #<%= @discretion.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/discretions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @discretion.user %>
          <a href="/discretions/<%= @discretion.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit discretion
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @discretion.user %>
          <a href="/delete_discretion/<%= @discretion.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete discretion
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @discretion.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @discretion.description %>
      </dd>

      <dt>
        Instruction
      </dt>
      <dd>
        <%= @discretion.instruction %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @discretion.user.present? %>
          <a href="/users/<%= @discretion.user_id %>">
            <%= @discretion.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Apppointee
      </dt>
      <dd>
        <% if @discretion.apppointee.present? %>
          <a href="/appointees/<%= @discretion.apppointee_id %>">
            <%= @discretion.apppointee.last_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@discretion.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@discretion.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

