<!-- Validation failure messages -->
<% if @song.errors.any? %>
  <% @song.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit song #<%= @song.id %>
</h1>

<hr>

<!-- Form song start -->
<form action="/update_song/<%= @song.id %>" method="post">
<!-- Form song end -->

  <!-- Label and input for title start -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <!-- Input for title start -->
    <input type="text" id="title" name="title" class="form-control" value="<%= @song.title %>">
    <!-- Input for title end -->
  </div>
  <!-- Label and input for title end -->

  <!-- Label and input for artist start -->
  <div class="form-group">
    <label for="artist">
      Artist
    </label>

    <!-- Input for artist start -->
    <input type="text" id="artist" name="artist" class="form-control" value="<%= @song.artist %>">
    <!-- Input for artist end -->
  </div>
  <!-- Label and input for artist end -->

  <!-- Label and input for rank start -->
  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <!-- Input for rank start -->
    <input type="text" id="rank" name="rank" class="form-control" value="<%= @song.rank %>">
    <!-- Input for rank end -->
  </div>
  <!-- Label and input for rank end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @song.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update song
  </button>
</form>

<hr>

<a href="/songs">
  Go back
</a>
