<h1>
  Edit song #<%= @song.id %>
</h1>

<hr>

<form action="/update_song/<%= @song.id %>" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @song.title %>">
  </div>

  <div class="form-group">
    <label for="artist">
      Artist
    </label>

    <input type="text" id="artist" name="artist" class="form-control" value="<%= @song.artist %>">
  </div>

  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <input type="text" id="rank" name="rank" class="form-control" value="<%= @song.rank %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update song
  </button>
</form>

<hr>

<a href="/songs">
  Go back
</a>
