<h1>
  Edit appointee #<%= @appointee.id %>
</h1>

<hr>

<form action="/update_appointee/<%= @appointee.id %>" method="post">

  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <input type="text" id="last_name" name="last_name" class="form-control" value="<%= @appointee.last_name %>">
  </div>

  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <input type="text" id="first_name" name="first_name" class="form-control" value="<%= @appointee.first_name %>">
  </div>

  <div class="form-group">
    <label for="email">
      Email
    </label>

    <input type="text" id="email" name="email" class="form-control" value="<%= @appointee.email %>">
  </div>

  <div class="form-group">
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" class="form-control" value="<%= @appointee.address %>">
  </div>

  <div class="form-group">
    <label for="phone">
      Phone
    </label>

    <input type="text" id="phone" name="phone" class="form-control" value="<%= @appointee.phone %>">
  </div>

  <div class="form-group">
    <label for="discretion_id">
      Discretion
    </label>

    <input type="text" id="discretion_id" name="discretion_id" class="form-control" value="<%= @appointee.discretion_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update appointee
  </button>
</form>

<hr>

<a href="/appointees">
  Go back
</a>
