<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All appointees
    </h1>

    <a href="/appointees/new" class="btn btn-block btn-outline-secondary">
      Add a new appointee
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->
<div class="row mb-3">
  <div class="col-md-12">
    <%= render partial: "appointee_templates/all_photos_map" %>
  </div>
</div>
<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Last name
        </th>

        <th>
          First name
        </th>

        <th>
          Email
        </th>

        <th>
          Address
        </th>

        <th>
          Phone
        </th>

        <th>
          Discretion
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @appointees.each do |appointee| %>
      <tr>
        <!-- Display appointee.id start -->
        <td>
          <%= appointee.id %>
        </td>
        <!-- Display appointee.id end -->

        <!-- Display appointee.last_name start -->
        <td>
          <%= appointee.last_name %>
        </td>
        <!-- Display appointee.last_name end -->

        <!-- Display appointee.first_name start -->
        <td>
          <%= appointee.first_name %>
        </td>
        <!-- Display appointee.first_name end -->

        <!-- Display appointee.email start -->
        <td>
          <%= appointee.email %>
        </td>
        <!-- Display appointee.email end -->

        <!-- Display appointee.address start -->
        <td>
          <%= appointee.address %>
        </td>
        <!-- Display appointee.address end -->

        <!-- Display appointee.phone start -->
        <td>
          <%= appointee.phone %>
        </td>
        <!-- Display appointee.phone end -->

        <!-- Display appointee.discretion_id start -->
        <td>
          <%= appointee.discretion_id %>
        </td>
        <!-- Display appointee.discretion_id end -->

        <!-- Display appointee.created_at start -->
        <td>
          <%= time_ago_in_words(appointee.created_at) %> ago
        </td>
        <!-- Display appointee.created_at end -->

        <!-- Display appointee.updated_at start -->
        <td>
          <%= time_ago_in_words(appointee.updated_at) %> ago
        </td>
        <!-- Display appointee.updated_at end -->

        <td>
          <a href="/appointees/<%= appointee.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @appointees, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
