<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Appointee #<%= @appointee.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/appointees" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link appointee start -->
      <div class="col">
        <a href="/appointees/<%= @appointee.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit appointee
        </a>
      </div>
      <!-- Edit link appointee end -->

      <!-- Delete link appointee start -->
      <div class="col">
        <a href="/delete_appointee/<%= @appointee.id %>" class="btn btn-block btn-outline-secondary">
          Delete appointee
        </a>
      </div>
      <!-- Delete link appointee end -->
    </div>

    <dl>
      <dt>
        Last name
      </dt>
      <!-- Display last_name start -->
      <dd>
        <%= @appointee.last_name %>
      </dd>
      <!-- Display last_name end -->

      <dt>
        First name
      </dt>
      <!-- Display first_name start -->
      <dd>
        <%= @appointee.first_name %>
      </dd>
      <!-- Display first_name end -->

      <dt>
        Email
      </dt>
      <!-- Display email start -->
      <dd>
        <%= @appointee.email %>
      </dd>
      <!-- Display email end -->

      <dt>
        Address
      </dt>
      <!-- Display address start -->
      <dd>
        <div>
          <%= render partial: "appointee_templates/one_photo_map" %>
        </div>
      </dd>
      <!-- Display address end -->

      <dt>
        Phone
      </dt>
      <!-- Display phone start -->
      <dd>
        <%= @appointee.phone %>
      </dd>
      <!-- Display phone end -->

      <dt>
        Discretion
      </dt>
      <!-- Display discretion_id start -->
      <dd>
        <%= @appointee.discretion_id %>
      </dd>
      <!-- Display discretion_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@appointee.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@appointee.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "appointee_templates/appointee_discretions" %>
  </div>
</div>
<!-- Show Page Customization end -->
