<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Appointee #<%= @appointee.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/appointees" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/appointees/<%= @appointee.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit appointee
        </a>
      </div>

      <div class="col">
        <a href="/delete_appointee/<%= @appointee.id %>" class="btn btn-block btn-outline-secondary">
          Delete appointee
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Last name
      </dt>
      <dd>
        <%= @appointee.last_name %>
      </dd>

      <dt>
        First name
      </dt>
      <dd>
        <%= @appointee.first_name %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @appointee.email %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <div>
          <%= render partial: "appointee_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        Phone
      </dt>
      <dd>
        <%= @appointee.phone %>
      </dd>

      <dt>
        Discretion
      </dt>
      <dd>
        <%= @appointee.discretion_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@appointee.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@appointee.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "appointee_templates/appointee_discretions" %>
  </div>
</div>
