<% if @expression.errors.any? %>
  <% @expression.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit expression #<%= @expression.id %>
</h1>

<hr>

<form action="/update_expression/<%= @expression.id %>" method="post">

  <div class="form-group">
    <label for="kind">
      Kind
    </label>

    <input type="text" id="kind" name="kind" class="form-control" value="<%= @expression.kind %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @expression.description %>">
  </div>

  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <input type="text" id="rank" name="rank" class="form-control" value="<%= @expression.rank %>">
  </div>

  <div class="form-group">
    <label for="service_id">
      Service
    </label>

    <input type="text" id="service_id" name="service_id" class="form-control" value="<%= @expression.service_id %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update expression
  </button>
</form>

<hr>

<a href="/expressions">
  Go back
</a>
