<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All expressions
    </h1>

    <a href="/expressions/new" class="btn btn-block btn-outline-secondary">
      Add a new expression
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "expression_templates/expressions_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Kind
        </th>

        <th>
          Description
        </th>

        <th>
          Rank
        </th>

        <th>
          Service
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @expressions.each do |expression| %>
      <tr>
        <td>
          <%= expression.id %>
        </td>

        <td>
          <%= expression.kind %>
        </td>

        <td>
          <%= expression.description %>
        </td>

        <td>
          <%= expression.rank %>
        </td>

        <td>
          <%= expression.service_id %>
        </td>

        <td>
          <% if expression.user.present? %>
            <a href="/users/<%= expression.user.id %>">
              <%= expression.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(expression.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(expression.updated_at) %> ago
        </td>

        <td>
          <a href="/expressions/<%= expression.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @expressions, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
