<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Expression #<%= @expression.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/expressions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @expression.user %>
          <a href="/expressions/<%= @expression.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit expression
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @expression.user %>
          <a href="/delete_expression/<%= @expression.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete expression
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Kind
      </dt>
      <dd>
        <%= @expression.kind %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @expression.description %>
      </dd>

      <dt>
        Rank
      </dt>
      <dd>
        <%= @expression.rank %>
      </dd>

      <dt>
        Service
      </dt>
      <dd>
        <%= @expression.service_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @expression.user.present? %>
          <a href="/users/<%= @expression.user_id %>">
            <%= @expression.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@expression.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@expression.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

