<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Mc #<%= @mc.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/mcs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/mcs/<%= @mc.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit mc
        </a>
      </div>

      <div class="col">
        <a href="/delete_mc/<%= @mc.id %>" class="btn btn-block btn-outline-secondary">
          Delete mc
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Rank
      </dt>
      <dd>
        <%= @mc.rank %>
      </dd>

      <dt>
        Guest
      </dt>
      <dd>
        <% if @mc.guest.present? %>
          <a href="/guests/<%= @mc.guest_id %>">
            <%= @mc.guest.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@mc.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@mc.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

