<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Service #<%= @service.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/services" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link service start -->
      <div class="col">
        <a href="/services/<%= @service.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit service
        </a>
      </div>
      <!-- Edit link service end -->

      <!-- Delete link service start -->
      <div class="col">
        <a href="/delete_service/<%= @service.id %>" class="btn btn-block btn-outline-secondary">
          Delete service
        </a>
      </div>
      <!-- Delete link service end -->
    </div>

    <dl>
      <dt>
        Venue
      </dt>
      <!-- Display venue_id start -->
      <dd>
        <%= @service.venue_id %>
      </dd>
      <!-- Display venue_id end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @service.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Theme
      </dt>
      <!-- Display theme_id start -->
      <dd>
        <%= @service.theme_id %>
      </dd>
      <!-- Display theme_id end -->

      <dt>
        Rank
      </dt>
      <!-- Display rank start -->
      <dd>
        <%= @service.rank %>
      </dd>
      <!-- Display rank end -->

      <dt>
        Casket
      </dt>
      <!-- Display casket start -->
      <dd>
        <%= @service.casket %>
      </dd>
      <!-- Display casket end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@service.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@service.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
