<% if @pall_bearer.errors.any? %>
  <% @pall_bearer.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit pall bearer #<%= @pall_bearer.id %>
</h1>

<hr>

<form action="/update_pall_bearer/<%= @pall_bearer.id %>" method="post">

  <div class="form-group">
    <label for="guest_id">
      Guest
    </label>

    <%= select_tag(:guest_id, options_from_collection_for_select(Guest.all, :id, :first_name, @pall_bearer.guest_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <input type="text" id="rank" name="rank" class="form-control" value="<%= @pall_bearer.rank %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update pall bearer
  </button>
</form>

<hr>

<a href="/pall_bearers">
  Go back
</a>
