<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All pall bearers
    </h1>

    <a href="/pall_bearers/new" class="btn btn-block btn-outline-secondary">
      Add a new pall bearer
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "pall_bearer_templates/pall_bearers_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Guest
        </th>

        <th>
          Rank
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @pall_bearers.each do |pall_bearer| %>
      <tr>
        <td>
          <%= pall_bearer.id %>
        </td>

        <td>
          <% if pall_bearer.guest.present? %>
            <a href="/guests/<%= pall_bearer.guest.id %>">
              <%= pall_bearer.guest.first_name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= pall_bearer.rank %>
        </td>

        <td>
          <%= time_ago_in_words(pall_bearer.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(pall_bearer.updated_at) %> ago
        </td>

        <td>
          <a href="/pall_bearers/<%= pall_bearer.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @pall_bearers, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
