<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All pall bearers
    </h1>

    <a href="/pall_bearers/new" class="btn btn-block btn-outline-secondary">
      Add a new pall bearer
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Guest
        </th>

        <th>
          Rank
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @pall_bearers.each do |pall_bearer| %>
      <tr>
        <!-- Display pall_bearer.id start -->
        <td>
          <%= pall_bearer.id %>
        </td>
        <!-- Display pall_bearer.id end -->

        <!-- Display pall_bearer.guest_id start -->
        <td>
          <%= pall_bearer.guest.first_name %>
        </td>
        <!-- Display pall_bearer.guest_id end -->

        <!-- Display pall_bearer.rank start -->
        <td>
          <%= pall_bearer.rank %>
        </td>
        <!-- Display pall_bearer.rank end -->

        <!-- Display pall_bearer.created_at start -->
        <td>
          <%= time_ago_in_words(pall_bearer.created_at) %> ago
        </td>
        <!-- Display pall_bearer.created_at end -->

        <!-- Display pall_bearer.updated_at start -->
        <td>
          <%= time_ago_in_words(pall_bearer.updated_at) %> ago
        </td>
        <!-- Display pall_bearer.updated_at end -->

        <td>
          <a href="/pall_bearers/<%= pall_bearer.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @pall_bearers, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
