<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Pall bearer #<%= @pall_bearer.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/pall_bearers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/pall_bearers/<%= @pall_bearer.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit pall bearer
        </a>
      </div>

      <div class="col">
        <a href="/delete_pall_bearer/<%= @pall_bearer.id %>" class="btn btn-block btn-outline-secondary">
          Delete pall bearer
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Guest
      </dt>
      <dd>
        <% if @pall_bearer.guest.present? %>
          <a href="/guests/<%= @pall_bearer.guest_id %>">
            <%= @pall_bearer.guest.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Rank
      </dt>
      <dd>
        <%= @pall_bearer.rank %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@pall_bearer.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@pall_bearer.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

