<h1>
  Edit connection #<%= @connection.id %>
</h1>

<hr>

<!-- Form connection start -->
<form action="/update_connection/<%= @connection.id %>" method="post">
<!-- Form connection end -->

  <!-- Label and input for why start -->
  <div class="form-group">
    <label for="why">
      Why
    </label>

    <!-- Input for why start -->
    <input type="text" id="why" name="why" class="form-control" value="<%= @connection.why %>">
    <!-- Input for why end -->
  </div>
  <!-- Label and input for why end -->

  <!-- Label and input for afriend_id start -->
  <div class="form-group">
    <label for="afriend_id">
      Afriend
    </label>

    <!-- Input for afriend_id start -->
    <input type="text" id="afriend_id" name="afriend_id" class="form-control" value="<%= @connection.afriend_id %>">
    <!-- Input for afriend_id end -->
  </div>
  <!-- Label and input for afriend_id end -->

  <!-- Label and input for bfriend_id start -->
  <div class="form-group">
    <label for="bfriend_id">
      Bfriend
    </label>

    <!-- Input for bfriend_id start -->
    <input type="text" id="bfriend_id" name="bfriend_id" class="form-control" value="<%= @connection.bfriend_id %>">
    <!-- Input for bfriend_id end -->
  </div>
  <!-- Label and input for bfriend_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @connection.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update connection
  </button>
</form>

<hr>

<a href="/connections">
  Go back
</a>
