<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Connection #<%= @connection.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/connections" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @connection.user %>
          <a href="/connections/<%= @connection.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit connection
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @connection.user %>
          <a href="/delete_connection/<%= @connection.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete connection
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Why
      </dt>
      <dd>
        <%= @connection.why %>
      </dd>

      <dt>
        Afriend
      </dt>
      <dd>
        <% if @connection.afriend.present? %>
          <a href="/friends/<%= @connection.afriend_id %>">
            <%= @connection.afriend.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Bfriend
      </dt>
      <dd>
        <% if @connection.bfriend.present? %>
          <a href="/friends/<%= @connection.bfriend_id %>">
            <%= @connection.bfriend.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @connection.user.present? %>
          <a href="/users/<%= @connection.user_id %>">
            <%= @connection.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@connection.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@connection.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

