<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Connection #<%= @connection.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/connections" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link connection start -->
      <div class="col">
        <% if current_user == @connection.user %>
          <a href="/connections/<%= @connection.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit connection
          </a>
        <% end %>
      </div>
      <!-- Edit link connection end -->

      <!-- Delete link connection start -->
      <div class="col">
        <% if current_user == @connection.user %>
          <a href="/delete_connection/<%= @connection.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete connection
          </a>
        <% end %>
      </div>
      <!-- Delete link connection end -->
    </div>

    <dl>
      <dt>
        Why
      </dt>
      <!-- Display why start -->
      <dd>
        <%= @connection.why %>
      </dd>
      <!-- Display why end -->

      <dt>
        Afriend
      </dt>
      <!-- Display afriend_id start -->
      <dd>
        <% if @connection.afriend.present? %>
          <a href="/friends/<%= @connection.afriend_id %>">
            <%= @connection.afriend.first_name %>
          </a>
        <% end %>
      </dd>
      <!-- Display afriend_id end -->

      <dt>
        Bfriend
      </dt>
      <!-- Display bfriend_id start -->
      <dd>
        <% if @connection.bfriend.present? %>
          <a href="/friends/<%= @connection.bfriend_id %>">
            <%= @connection.bfriend.first_name %>
          </a>
        <% end %>
      </dd>
      <!-- Display bfriend_id end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <% if @connection.user.present? %>
          <a href="/users/<%= @connection.user_id %>">
            <%= @connection.user.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@connection.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@connection.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
